.character-framework {
  width: 45%;
  height: 100%;
  display: flex;
  margin-bottom: -8px;
}
.character-framework a {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 3.8rem;
  margin-right: 2rem;
}

.image-box {
  width: 100%;
  max-width: 100%;
  cursor: pointer;
  overflow: hidden;
}
.selected-character {
  filter: drop-shadow(1px 7px 4px #333);
  max-height: 162px;
  min-height: 50px;
  min-width: 50px;
}
.image-menu {
  position: absolute;
  top: 5%;
  left: 5%;
  display: none;
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.8);
}
.menu-option {
  display: block;
  width: 100px;
  height: 100px;
  margin: 10px;
  object-fit: cover;
  cursor: pointer;
}

.image-box:hover .image-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
