.character-framework {
  width: 30%;
  height: 45%;
}
.image-box {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
}
.selected-character{
  filter: drop-shadow(1px 7px 4px #333);
  max-height: 162px;
}
.image-menu {
  position: absolute;
  top: 25%;
  left: 10%;
  display: none;
  width: 80%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.8);
}

.menu-option {
  display: block;
  width: 80px;
  height: 80px;
  margin: 10px;
  object-fit: cover;
  cursor: pointer;
}

.image-box:hover .image-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
